<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
	
			<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
			<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hfbdb</property>
			<property name="hibernate.connection.user">root</property>
			<property name="hibernate.connection.password">Root@2001</property>	
			
			<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
			<property name="hibernate.show_sql">true</property>
			<property name="hibernate.hbm2ddl.auto">create</property>
			<property name="hibernate.format_sql">true</property>
		
		<!-- There are two methods to state mapping files(NEED to correct it, Please refer notes): 
		1. By using <mapping class="com.wp.entities.Student"/> tag
		2. By using addAnnotatedClass() method in App.java
		-->
		<mapping class="com.wp.entities.Student"/>
		
	</session-factory>

</hibernate-configuration>